
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.anchor-style{
    color: #282828;
    text-decoration: none;
    
}

.pilgrim-guidance-page{
    background-image: url(./Assets/Pilgrimage-guidanceimain-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    object-fit: cover;
    position: relative;
    height: auto;
}


.yt-vedio-link-button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #baa35d;
    padding: 23px 30px;
    border-radius: 50%;
    animation: box-shadow infinite 1.8s;
    margin-bottom: 10px;
}

@keyframes box-shadow{
    0%{
        box-shadow: none;
    }

    20%{
        box-shadow: 0px 0px 15px rgba(212, 179, 78, 0.5);
    }

    50%{
        box-shadow: 0px 0px 15px rgba(212, 179, 78, 0.5);
    }
    100%{
        box-shadow: none;
    }
}

.yt-vedio-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-wrap: wrap;
}


@media (max-width: 768px){
    .yt-vedio{
        margin-bottom: 20px;
    }
}

@media (max-width: 375px){
    #yt-vedio-link-button{
        margin-bottom: 12px;
    }
}