*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-booking-page, .pilgrim-guidance-page{
    max-width: 100%;
    background-image: url(./Assets/home\ main\ 1\ pic.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.brownish-color{
    color: #baa35d;
    font-family: "prata", sans-serif;
}

.overlay{
    background-color: rgba(51, 52, 53, .9);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #fff;
    max-width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.page-title, .u-packages-page-title, .holy-stories-page-title, .news-section-header{
    color: #baa35d;
    font-size: 15px;
    font-family: "barlow", sans-serif;
    letter-spacing: 0.8px;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-left: 20px;
}

.page-title-description, .u-packages-page-title-description, .holy-stories-page-title-description, .news-description{
    font-size: 2.875rem;
    font-family: "prata";
    padding-bottom: 40px;
    margin-left: 20px;
}

.book-service-button, .all-stories-button, .read-now-button{
    outline: 0;
    border: 0;
    padding: 18px 38px;
    border-radius: 4px;
    background-color: #baa35d;
    color: #282828;
    font-size: 15px;
    font-family: "barlow" sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: 20px;
}

.book-service-button:hover{
    background-color: #282828;
    color: #baa35d;
    border: 1px solid #baa35d;
    transition: .3s;
}

@media (max-width: 768px){
    .page-title-description{
        font-size: 3rem;
    }

    .book-service-button{
        margin-bottom: 20px;
    }

}

@media (max-width: 320px){
    .page-title-description,.u-packages-page-title-description {
        font-size: 1.9rem !important;
    }
    .book-service-button {
        padding: 15px 30px;
        font-size: 14px;
    }
    .page-content{
        width: 100%;
        margin: auto;
    }
}
